* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  padding: 5%;
  max-width: 1200px;
  margin: auto;
}
button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: antiquewhite;
  border-radius: 5px;
}
button:hover {
  background-color: aquamarine;
  color: #fff;
}
