* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  border: none;
  vertical-align: middle;
}
.inner {
  max-width: 1280px;
  margin: auto;
}
